:host {
  color: white;
  text-align: center;
  text-shadow: #e0e0e0 1px 1px 0, 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.time {

  .h {
    font-size: 16vw;
  }

  .tick {
    display: inline-block;
    font-size: 16vw;
    min-width: .4em;
  }

  .m {
    font-size: 16vw;
  }

  .a {
    font-size: 6vw;
    margin: 0 0 0 .4em;
  }
}

.date {
  font-size: 8vw;
}
