:host {
  color: white;
  text-align: center;
  text-shadow: #e0e0e0 1px 1px 0, 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.time {

  .hm {
    font-size: 14vw;
  }

  .s {
    font-size: 6vw;
    margin: 0 0 0 .2em;
  }

  .a {
    font-size: 6vw;
    margin: 0 0 0 .4em;
  }
}

.date {
  font-size: 8vw;
}
