:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 300px;
}

video {
  z-index: 0;
  background-position: center;
  object-fit: cover;
  object-position: 50% 50%;
  height: 100%;
  width: 100%;
}
