
.time {
  color: white;
  text-align: center;

  .hm {
    font-size: 14vw;
  }

  .s {
    font-size: 6vw;
    margin: 0 0 0 .2em;
  }

  .a {
    font-size: 6vw;
    margin: 0 0 0 .4em;
  }
}

.date {
  font-size: 8vw;
  color: white;
  text-align: center;
}
